<header>
    <h1>Collaborative Learning Platform</h1>
    <nav>
      <ul>
        <li><a href="/dashboard" class="active">Dashboard</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/profile"><img src="<%= user.profilePicture %>" alt="" class="profile-pic"></a></li>
        <li><a href="#" id="logout-link">Logout</a></li>
      </ul>
    </nav>
</header>